{% extends 'sistema/sistema.html' %}
	{% block contenido %}
		<h1>PROYECTOS</h1>
		<div class="form-group pull-right">
		    <input type="text" class="search form-control" placeholder="Buscar">
		</div>
		<span class="counter pull-right"></span>
		<br>
		<br>
		<table class="table table-hover table-bordered results">
			<thead>
		      	<tr>
			      	<th>N°</th>
			        <th>Nombre</th>
			        <th>Zona</th>
			        <th>Dirección</th>
			        <th>Valor de Terreno</th>
			        <th>Valor Aprox. Urbanizacion</th>
			        <th>Inicio de Proyecto</th>
			        <th>Lotes Disponibles</th>
		      	</tr>
		        <tr class="warning no-result">
			      	<td colspan="12"><i class="fa fa-warning"></i> No hay resultado</td>
			  	</tr>
    		</thead>
    		<tbody>
    		{% for proyecto in proyectos%}
			<tr>
				<th scope="row">{{forloop.counter}}</th>
				<td>{{ proyecto.nombre }}</td>
				<td>{{ proyecto.zona }}</td>
				<td>{{ proyecto.direccion }}</td>
				<td>{{proyecto.valor_m2_terreno}}</td>
				<td>{{proyecto.valor_m2_urbanizacion}}</td>
				<td>{{ proyecto.fecha_inicio }}</td>
				<td> 
					<button type="button" class="btn btn-default btn-xs" data-toggle="modal" data-target="#myModal{{forloop.counter}}">Ver</button>
				</td>
			</tr>

			<!-- Modal -->
			<div id="myModal{{forloop.counter}}" class="modal fade" role="dialog">
			  <div class="modal-dialog">

			    <!-- Modal content-->
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">{{ socio.nombre }} {{ socio.apellido }}</h4>
			      </div>
			      <div class="modal-body">
			      	<h2>Proyecto "{{ proyecto.nombre }}"</h2>
			      	<h5>Lotes Disponibles</h5>
			          {% for manzanita in proyecto.manzana_set.all %}
						<h3>Manzana "{{ manzanita.nombre }}"</h3>
						<hr>
						{% for lotesito in manzanita.lote_set.all %}
							{% if lotesito.ocupado == False %}								
							<p>Casa: "{{ lotesito.numero }}"</p>				
							<p>Superficie: {{ lotesito.superficie }}</p>
							<hr style="height:30px">
							<hr>										 	
							{% endif %}
						{% endfor %}				 
					{% endfor %}
						<p><a href="#">Imprimir</a></p>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			      </div>
			    </div>

			  </div>
			</div>

		

			{% endfor %}
			</tbody>
		</table>
	</section>
	{% endblock %}