{% extends 'sistema/sistema.html' %}
	{% block contenido %}
		<h1>PROYECTOS</h1>
		<div class="form-group pull-right">
		    <input type="text" class="search form-control" placeholder="Buscar">
		</div>
		<span class="counter pull-right"></span>
		<br>
		<br>
		<table class="table table-hover table-bordered results">
			<thead>
		      	<tr>
			      	<th>N°</th>
			        <th>Nombre</th>
			        <th>Zona</th>
			        <th>Dirección</th>
			        <th>Valor de Terreno</th>
			        <th>Valor Aprox. Urbanizacion</th>
			        <th>Inicio de Proyecto</th>
			        <th>Acciones</th>
		      	</tr>
		        <tr class="warning no-result">
			      	<td colspan="12"><i class="fa fa-warning"></i> No hay resultado</td>
			  	</tr>
    		</thead>
    		<tbody>
    		{% for proyecto in proyectos%}
			<tr>
				<th scope="row">{{forloop.counter}}</th>
				<td>{{ proyecto.nombre }}</td>
				<td>{{ proyecto.zona }}</td>
				<td>{{ proyecto.direccion }}</td>
				<td>{{proyecto.valor_m2_terreno}}</td>
				<td>{{proyecto.valor_m2_urbanizacion}}</td>
				<td>{{ proyecto.fecha_inicio }}</td>
				<td><a href="">Ver</a> / <a href="#">Imprimir</a></td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</section>
	{% endblock %}