/* Filtro para las tablas del sistema */
.results tr[visible='false'],
.no-result{
  display:none;
}

.results tr[visible='true']{
  display:table-row;
}

.counter{
  padding:8px; 
  color:#ccc;
}
.modal-header {
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #9C3334;
    color: #FFF;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
 }
 .marcagrande img{
  width: 250px;
 }

/* End Filtro */