	{% extends 'base.html' %}
	{% block titulo %} Institucional{% endblock %}
	{% block contenido %}

	
	<section class="textoinstitucional">
		<img src="/img/barriouniversitario.png"  alt="imagen_del_barrio_universitario"/>
		<div class="partederecha">
			<h3>AMPUNC</h3> 
			<h4>Asociación Mutual del Personal  de la<br> Universidad Nacional de Cuyo.</h4> <br><p>Somos una Institución destinada a la gestión de créditos de construcción de viviendas pensadas para los Empleados de la UNCuyo.</p>
				<p>Esta Entidad nace en el mes octubre de 1992 y obtiene su Personería Jurídica el día 8 de julio de 1.993. Su Comisión Directiva y demás miembros la integran empleados universitarios. Tiene cuatro Reglamentos aprobados que son Turismo, Asistencial, Proveeduría y Vivienda.</p>
				<br>
				<div class="folleto"><img src="/img/folleto.jpg" id="imagen_der" alt="imagen_folleto" class="folleto"/></div>
		</div>
	</section>
		<br>
		<br>
	<section class="valores">
		<div class="parteizquierda">
			<h3>Misión</h3>
			<ol>
			<li>Incorporar nuevos asociados interesados en proyectos de vivienda (compra de terreno, urbanización y construcción).</li>
			<li>Concretar un Convenio Marco con UNCUYO con el objeto de mejorar la gestión y brindar mayor confianza y seguridad.</li>
			<li>Compra de Terrenos que tiendan a mejor calidad de vida.</li>
			<li>Urbanización.</li>
			<li>Gestión de crédito  estatal.</li>
			<li>Gestión de otras líneas de crédito.</li>
			<li>Loteo urbanizado</li>
			</ol>				
		</div>
		<br>
		<div class="parteizq">
			<h3>Visión</h3>
				<p>Surge ante la necesidad de crear una organización para atender la demanda de vivienda esencialmente de empleados universitarios y otros grupos familiares.</p>
		</div>
		<br>
		
			
		<div class="parteizquierda">
				<h3>Objetivos</h3>
				<ol>
				<li>Mejora continua en la calidad de los proyectos.</li>
				<li>Innovación tecnológica. Incorporar actores de las distintas disciplinas de formación universitaria a los proyectos de Barrio (ejemplos: reducir consumo eléctrico de viviendas con  energía solar, recursos renovables, diseño, etc.).</li>
				<li>Brindar la vivienda a sus asociados.</li>
				<li>Entregar el lote urbanizado.</li>
				</ol>				 
			
		</div>
	</section>
	

{% endblock %}