	{% extends 'base.html' %}
	{% block titulo %} Institucional{% endblock %}
	{% block contenido %}

	
	<section class="textoinstitucional">
		<img src="/img/barriouniversitario.png" alt="imagen_del_barrio_universitario"/>
		<div class="partederecha">
			<h3>AMPUNC; Asociación Mutual de los Empleados  <br> de la Universidad Nacional de Cuyo. <br><br> Somos una empresa destinada a la construcción de viviendas propias pensadas para los Empleados de la UNCuyo. </h3>
				<p>Esta Entidad nace en el mes octubre de 1992 y obtiene su Personería Jurídica el día 8 de julio de 1.993. Su Comisión Directiva y demás miembros la integran empleados universitarios. Tiene cuatro Reglamentos aprobados que son Turismo, Asistencial, Proveeduría y Vivienda.</p>
		</div>
	</section>
	<section class="valores">
		<div class="parteizq">
			<h3>Visión</h3>
				<p>Surge ante la necesidad de crear una organización para atender la demanda de vivienda esencialmente de empleados universitarios y otros grupos familiares.</p>
		</div>
		<div class="partederecha">
			<h3>Misión</h3>
				<p>1. Incorporar nuevos asociados interesados en proyectos de vivienda (compra de terreno, urbanización y construcción).<br>
 				2. Concretar un Convenio Marco con UNCUYO con el objeto de mejorar la gestión y brindar mayor confianza y seguridad.<br>
				3. Compra de Terrenos que tiendan a mejor calidad de vida. <br> 
				4. Urbanización. <br>
				5. Gestión de crédito  estatal. <br> 
				6. Gestión de otras líneas de crédito.<br>
				7. Loteo urbanizado</p>
		</div>
		<div class="parteizq">
			<div class="obj">
				<h3>Objetivos</h3>
				<p>1. Mejora continua en la calidad de los proyectos.<br>
				2. Innovación tecnológica. Incorporar actores de las distintas disciplinas de formación universitaria a los proyectos de Barrio (ejemplos: reducir consumo eléctrico de viviendas con  energía solar, recursos renovables, diseño, etc.). <br>
				3. Brindar la vivienda a sus asociados. <br>
				4. Entregar el lote urbanizado. </p> 
			</div>
		</div>
	</section>
	

{% endblock %}